@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h3>we are going to have an exiciting party</h3>
    <h4>And you are invited </h4>
    <a asp-action="RsvpForm" class="btn btn-primary">RsvpNow</a>
    <p>this is testing</p>
    
</div>
