@model IEnumerable<Rsvpproject.Models.GuestResponse>
@{
    ViewData["Title"] = "ListResponses";
}



<div class="Panel-body">
    <h1>Here is the list of People attanding the party</h1>
    <table class="table table-sm table-sm table-bordered ">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
            </tr>
        </thead>
        <tbody>
            @foreach(Rsvpproject.Models.GuestResponse r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Email</td>
                    <td>@r.Phone</td>
                </tr>
            }
        </tbody>
    </table>

</div>

