
    <div class="text-center">
        @ViewBag.Greeting World (from the view)
        <p class="align-content-md-between">
            We're going to have an exciting party.<br />
            (To do: sell it better. Add pictures or something.)
        </p>
        <a asp-action="RsvpForm" class="btn btn-primary" >RsvpNow</a>
    </div>
